@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */


/* styles/globals.css or your global styles */

@import 'slick-carousel/slick/slick.css';

/* Your custom styles */

.slick-prev,
.slick-next {
    font-size: 0px;
    color: #000;
    z-index: 1;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}


/* Your custom styles */

.dot {
    @apply cursor-pointer h-4 w-4 mx-1 my-1 text-center bg-gray-400 rounded-full inline-flex items-center justify-center;
}

.active,
.dot:hover {
    @apply bg-gray-700;
}

.cont {
    position: absolute;
    top: 15rem;
    left: 40%;
}